android/key.properties
android/local.properties
*.jks
*.keystore

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
*.iml
.idea/

lib/l10n/generated/

.vscode/
.DS_Store
Thumbs.db